*
!*/
!**.java
!**.txt
!**.json
!**.md
!.expelimicate
!.gitignore

# keep notes folder
!notes/
!notes/**

.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

/temp
/out
.idea
.iml